@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #020631;
  --text-color: white;
  --text-yellow: #e5fe52;
}


html, body {
  background-color: var(--background-color);
  color: var(--text-color);
}




.section {
  @apply mt-14 pt-14;
  border-top: rgba(255,255,255,0.5) 1px solid;
}



.buy-a-metapump {
  background-color: var(--text-yellow);
  min-height: 50px;
  @apply p-12 md:grid md:grid-cols-2 md:gap-11;
  border-radius: 8px;
}
.buy-a-metapump button {
  background-color: #000321;
  padding: 0.5em 1.5em;
  border-radius: 300px;
  color: var(--text-yellow);
  @apply font-extrabold;
  font-style: italic;
  @apply text-xl md:text-2xl;
}

.section.section--welcome p {
  @apply text-base md:text-xl m-0;
  line-height: 1.6125;
}



.nft-avatar {
  border-radius: 4px;
  overflow: hidden;
}
